
body {

    background: #3ca2e0;
    text-align: center;
    color: #fff;

}


.avatar {
    margin: 0 auto;
    width: 90px;
    height: 90px
}

.avatar, #brand-lettering{
    display:inline;
    margin:0;
}
#brand-lettering {
    padding-left: 10px;
}

.navbar-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.background-color {
    background-color: #3ca2e0;
}

#whitef {
    max-width: 700px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
h1 .yuge {
    font-size: 60px;
}
#whitef h1 {
    color: #3ca2e0;
    font-size: 30px;

}
#license-footer {
    background-color: #2089c9;
    width: 100%;
    color:white;
    align-self: flex-end;
    padding: 16px 32px;
    text-align: center;
    font-size: small;
    border-top: 1px solid #104463;
}

#whitef .login-register-header {
    color: black;
    margin: 0;
    font-size: 50px;
}

