<div layout="column" style="min-height:100vh" ng-cloak>

    <section layout="row" flex>

        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-toolbar md-theme="docs-dark">
                <img src="img/icon.jpg" class="avatarBig">
                <h1 id="brand-lettering"><span class="yuge">J</span>ust Do It</h1>

            </md-toolbar>
            <md-content class="scrollable-nav-content">
                    <h1 style="text-align: left">Lists: </h1>
                    <md-list>
                <md-list-item layout-align="center end" ng-repeat="list in userFire.lists">
                    <md-button>
                    {{list.listTitle}}
                        <md-icon  class="material-icons">list</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>

            </md-content>

        </md-sidenav>



            <div flex layout="column" class="background-color" layout-align="top">
                <md-toolbar md-theme="docs-dark" layout="row">

                    <div class="md-toolbar-tools">
                        <h1 style="padding-left: 20px;">Dashboard</h1>
                        <!-- fill up the space between left and right area -->
                        <span flex></span>

                        <md-menu md-position-mode="target-right target">
                            <md-icon aria-label="Open demo menu"
                                     class="material-icons md-icon-button"
                                     ng-click="$mdOpenMenu($event)"
                                     style="font-size: 44px; width: 44px; height: 44px;">

                                account_circle
                            </md-icon>

                            <md-menu-content width="6">
                                <md-menu-item>
                                    <span style="float: left" ng-if="vm.user.displayName">{{vm.user.displayName}}</span>
                                    <span style="float: left" ng-if="!vm.user.displayName">{{vm.user.email}}</span>
                                    <span style="float: right;"><img ng-src="{{vm.user.photoURL}}" id="profileImg"></span>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>
                                            Settings
                                        <md-icon class="material-icons">settings</md-icon>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button>
                                            Logout
                                        <md-icon class="material-icons">exit_to_app</md-icon>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>


                    </div>

                </md-toolbar>
                <md-content layout="row" class="background-color">
                   <md-card class="cards">
                       <h1>Done</h1>
                       <h2>You've completed 40 todos!</h2>
                   </md-card>
                    <md-card class="cards">
                       <h1>ToDo</h1>
                       <h2>You have 28 todos left!</h2>
                   </md-card>
                </md-content>
            </div>



    </section>

</div>