
<div layout="column">
    <div layout="row" md-theme="docs-dark">
        <md-toolbar>

            <div class="md-toolbar-tools">
                <img src="img/icon.jpg" class="navbar-avatar">
                <span>Just Do It</span>

                <!-- fill up the space between left and right area -->
                <span flex></span>

                <md-button>
                    <md-icon class="material-icons">info</md-icon>
                </md-button>
            </div>

        </md-toolbar>
    </div>
</div>
    <div layout="column" flex id="content" role="main">

        <md-content layout="vertical" flex id="content" style="height: calc(100vh - 114px)">

            <div layout="row" layout-align="center center" class="background-color" layout-fill>
                <md-whiteframe class="md-whiteframe-z1" id="whitef" layout="column" flex="60" layout-padding>
                    <img src="img/icon.jpg" class="avatar">
                    <h1><span class="yuge">J</span>ust Do It</h1>
                    <md-content md-theme="docs-dark">

                        <md-input-container>
                            <label>Name</label>
                            <input name="nickname" md-maxlength="8" required ng-model="vm.name">
                        </md-input-container>
                        <!--https://material.angularjs.org/latest/api/directive/mdInput-->

                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="vm.login()">Login</md-button>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-whiteframe>
            </div>

        </md-content>
        <div id="license-footer">
            ToDo app powered by Angular. Customized with Angular Material Design. Thanks @Google. Also something about Copyright: ©2015-2018.
        </div>
    </div>